<button class="selected-note__button" {{action addNote}} title="add note">+</button>
<button class="selected-note__button" {{action removeNote}}title="remove note">&ndash;</button>

{{format-date date=updated classNames='selected-note__updated' format='D MMMM YYYY, h:m'}}

{{textarea value=text classNames="selected-note__input" rows=20}}
